testFiles/xsdShema.xml

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="countries">
        <xs:complexType>
            <xs:sequence maxOccurs="unbounded">
                <xs:element name="country">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="country_name" type="xs:string"/>
                            <xs:element name="capital" type="xs:string"/>
                            <xs:element name="population" type="xs:decimal"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="trip">
        <xs:complexType>
            <xs:sequence maxOccurs="unbounded">
                <xs:element name="destination">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="flyTo" type="xs:string"/>
                            <xs:element name="count_of_citizens" type="xs:decimal"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>